:root{
    --whitewine: #f3f2de;
    --white: #f0f0f0;
    --lightwine: #c5b68c;
    --pinkwine: #642121;
    --black: #000000; 
    --lightblack: #464242;
    --bottom: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background-color: var(--whitewine);
}
/*-------------------------------- Skip navigation ---------------------------*/
.header{
    background-color: transparent;
    margin: 20px 0;
}
.sr-only{
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    top: 0;
}
.sr-only:focus{
    background-color: #c5b68c;
    padding: 5px;
    width: auto;
    height: auto;
    clip: auto;
}
/* ------------------------------------- Menu and button --------------------- */
/* -------------------------------- Boton ----------------------------------*/
.btn-menu{
    display: none;
}
/* ------------------------------------- Menu --------------------- */
.navbar{
    background-color: transparent;
    margin-bottom: var(--bottom);
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.list-item{
    flex-grow: 1;
    text-align: center;
}
.list-item-link{
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: var(--pinkwine);
    font-size: 18px;
}
.list-item-link:hover{
    color: var(--black);
    background-color: var(--lightwine);
}
/* ------------------------------------------ Slider img ----------------- */
.carousel{
    background-color: transparent;
    padding-top: 10px;
    margin-bottom: var(--bottom);
}
.carousel-item{
    text-align: center;
}
/* -------------------------------------- Contenedor ------------------ */
.container{
    background-color: transparent ;
    max-width: 100%;
    margin-bottom: var(--bottom);
}
/* ------------------------------------ Info ---------------- */
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 5px;
}
.shipping, .shop, .buysafe{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.text-info{
    font-weight: bold;
    text-align: center;
}
/*--------------------------------------------- Subtitle ----------------------------------------------------*/
.header-subtitle{
    background-color: transparent;
    padding: 10px 0;
}
.subtitle-list{
    list-style: none;
    display: flex;
    text-align: end;
    align-items: center;
}
.subtitle-item{
    flex-grow: 1;
}
.subtitle-item-link{
    text-decoration: none;
    margin-right: 20px;
    color: var(--pinkwine);
}
.link-v-m:hover{
    color: var(--black);
    font-weight: bold;
}
/*-------------------------------------------Card products -----------------------------------------------*/
.product{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin: 20px auto;
    padding: 5px;
    border: 1px solid var(--pinkwine);
    border-radius: 10px;
}
.card-body{
    margin: 10px auto;
}
.card-title{
    padding: 10px 0;
}
.card-text{
    text-align: center;
}
.img-fluid{
    margin: 10px;
}
/* ---------------------------------------- Footer --------------------- */
.footer{
    background-color: var(--lightwine);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.about{
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*------- Medios de pago -------*/
.payment-medium, .contact-media, .social-media, .news{
    margin: 20px auto;
}
.footer-title{
    margin-bottom: 10px;
}
.payment-list, .contact-list, .social-list{
    list-style: none;
}
.payment-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.payment-item{
    margin: 5px 20px;
}
.payment-icon{
    max-width: 48px;
}
/* ----------- Contacto ---------*/
.contact-item{
    display: flex;
    align-items: center;
}
.contact-item-link, .social-item-link{
    text-decoration: none;
}
.img-contact{
    margin: 5px;
}
/*----------- Redes sociales ---------*/
.social-list{
    display: flex;
    justify-content: space-evenly;
}
.social-item-link{
    margin: auto 10px;
}
.img-social{
    filter: saturate(20%) brightness(10%) contrast(50%) opacity(60%);
    transition: all .6s cubic-bezier(.19,1,.22,1);
}
.img-social:hover{
    transform: translate(10px, -10px);
    filter: none;
}
/* ------------ Newsletter ----------------*/
.form-news{
    display: inline-block;
    font-size: 0;
}
.form-news-input, .form-news-btn{
    min-height: 32px;
    border-radius: 5px;
}
.form-news-btn{
    padding: 0 10px;
    background-color: var(--whitewine);
    color: var(--black);
    font-weight: bold;
    border: 1px solid var(--whitewine);
}
/* ---------------------------------------------- --------------------------------------------------------------------------------------------*/
/* ------------------------------------ Productos ------------------------------------*/
/* ---------------------- Breadcrumbs --------------------*/
.breadcrumbs{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--bottom);
}
/* Boton filtrar resultados de busqueda*/
.filter-btn{
    display: none;
}
.list-bread, .order-by{
    list-style: none;
    display: flex;
    margin: auto 20px;
    padding: 10px 0;
}
.bread-item ,.by{
    background-color: var(--lightwine);
    margin: 0 5px;
    padding: 5px;
    transform: skewX(-20deg);
    box-shadow: -2px 10px 20px -6px rgb(0,25,14);
}
.bread-item-link{
    text-decoration: none;
    color: var(--lightblack);
}
.active{
    font-weight: bold;
    color: var(--black);
}
.select-order{
    transform: skewX(-20deg);
    box-shadow: -2px 10px 20px -6px rgb(0,25,14);
}
/* principal-product */
.principal-products{
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: var(--bottom);
}
/* Categorias*/
.category{
    grid-column: 1;
    grid-row: 1 / 3;
    margin: 0 10px;
}
.list-category, .list-filter{
    list-style: none;
    margin: 10px 0;
}
.item-category, .item-filter{
    padding: 5px 0;    
}
.item-category-link{
    text-decoration: none;
    margin: 20px 0;
}
.item-filter-input{
    margin: 0 10px;
}
/* Product*/


/* ----------------------------------------- Fin de Productos --------------------------------------------*/
.card-about{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin: 0 20px;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: var(--bottom);
}
.card-about-body{
    max-width: 65%;
}
.card-about-text{
    text-align: justify;
    margin: 5px auto;
}
/* ----------------------------------------- Fin de sobre nosotros --------------------------------------------*/

/* ---------------------------------------- Media queries --------------------- */
@media (max-width: 1023px){
    /* Skip navigation */
    .header{
        display: none;
    }
    /*Menu*/
    /* Footer*/
    .footer{
        gap: 15px;
    }
    .about{
        position: static;
    }
    .form-news-btn{
        margin: 5px auto;
    }
}
@media (max-width: 767px){
    .btn-menu{
        display: block;
        background-color: transparent;
        border: 2px solid var(--black);
        border-radius: 6px;
    }
    .burger-menu{
        background-image: url(/static/img/burger-menu.png);
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        margin: 5px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navbar{
        display: none;
    }
    .desplegar{
        display: block;
    }
    /* Principal productos */
    .principal-products{
        display: flex;
    }
    .category{
        display: none;
    }
    .breadcrumbs, .filter-btn{
        display: block;
    }
    .mostrarFiltro{
        display: block;
        position: absolute;
        background-color: var(--lightwine);
        margin: -25px 20px;
        padding: 5px;
    }
    .filter-btn{
        margin: auto 20px;
        padding: 10px 0;
    }
    .btn-filter{
        padding: 0 10px;
        background-color: var(--lightwine);
        color: var(--black);
        font-size: 16px;
        font-weight: bold;
        border: 1px solid var(--lightwine);
        transform: skewX(-20deg);
        box-shadow: -2px 10px 20px -6px rgb(0,25,14);
    }
    /* Footer*/
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .payment-medium, .contact-media, .social-media, .news{
        width: 50vw;
    }
}
@media (max-width: 400px){
    .list-item{
        min-width: 100%;
    }
    
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}