:root{
    --blue: rgba(19, 118, 199, 0.067);
    --whitewine: #f3f2de;
    --white: #f0f0f0;
    --lightwine: #e8d84c;
    --pinkwine: #ba4921;
    --redwine: #0c0304;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background-color: var(--whitewine);
}
/* ------------------------------------- Menu and button --------------------- */
/* -------------------------------- Boton ----------------------------------*/
.btn-menu{
    display: none;
}
/* ------------------------------------- Menu --------------------- */
.navbar{
    background-color: transparent;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.list-item{
    flex-grow: 1;
    text-align: center;
}
.list-item-link{
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: var(--black);
}
.list-item-link:hover{
    background-color: peru;
}
/* ------------------------------------------ Slider img ----------------- */
.carousel{
    background-color: palegreen;
    padding-top: 10px;
}
.carousel-item{
    text-align: center;
}
/* -------------------------------------- Contenedor ------------------ */
.container{
    background-color: transparent ;
    max-width: 100%;
}
/* ------------------------------------ Info ---------------- */
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
.shipping, .shop, .buysafe{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.text-info{
    font-weight: bold;
    text-align: center;
}
/*--------------------------------------------- Subtitle ----------------------------------------------------*/
.header{
    background-color: var(--lightwine);
    padding: 10px 0;
}
.subtitle-list{
    list-style: none;
    display: flex;
    text-align: end;
    align-items: center;
}
.subtitle-item{
    flex-grow: 1;
}
.subtitle-item-link{
    text-decoration: none;
    margin-right: 10px;
}
/*-------------------------------------------Card products -----------------------------------------------*/
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin: 20px auto;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
}
.card-body{
    margin: 10px auto;
}
.card-title{
    padding: 10px 0;
}
.card-text{
    text-align: center;
}
/* ---------------------------------------- Footer --------------------- */
.footer{
    background-color: tomato;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/*------- Medios de pago -------*/
.payment-medium, .contact-media, .social-media, .news{
    margin: 20px auto;
}
.footer-title{
    margin-bottom: 10px;
}
.payment-list, .contact-list, .social-list{
    list-style: none;
}
.payment-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.payment-item{
    margin: 5px 20px;
}
.payment-icon{
    max-width: 48px;
}
/* ----------- Contacto ---------*/
.contact-item{
    display: flex;
    align-items: center;
}
.contact-item-link, .social-item-link{
    text-decoration: none;
}
.img-contact{
    margin: 5px;
}
/*----------- Redes sociales ---------*/
.social-list{
    display: flex;
    justify-content: space-evenly;
}
.social-item-link{
    margin: auto 10px;
}
.img-social{
    filter: saturate(20%) brightness(10%) contrast(50%) opacity(60%);
    transition: all .6s cubic-bezier(.19,1,.22,1);
}
.img-social:hover{
    transform: translate(10px, -10px);
    filter: none;
}
/* ------------ Newsletter ----------------*/
/* ---------------------------------------- Media queries --------------------- */
@media (max-width: 1023px){

}
@media (max-width: 767px){
    .btn-menu{
        display: block;
        background-color: transparent;
        border: 2px solid var(--black);
        border-radius: 6px;
    }
    .burger-menu{
        background-image: url(/static/img/burger-menu.png);
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        margin: 5px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navbar{
        display: none;
    }
    .desplegar{
        display: block;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    .payment-medium{
        width: 50vw;
    }
}
@media (max-width: 400px){
    .list-item{
        min-width: 100%;
    }
    .footer{
        display: block;
        width: 100%;
    }
}